h3 {
	font-size: 11px;
}
.upload-form-box {
	padding: 10px 5px;
    border: 1px solid #ddd;
    margin: 10px 0;
}
.remove-icon {
	color: #df0c0c;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin: 0 5px;
}
.file-item {
	padding: 3px 0;
}
.file-items-box {
	padding: 10px 0;
}